<%
if (session.user.flats.length > 0) {
	let count=0;
	let flatCountString="new Flats";
	let outFlats=[];

	session.user.flats.forEach(function(flat) {

		if (session.user.plz_interests.includes(flat.district)) {
			if ( !isNaN(parseFloat(flat.costs)) && !isNaN(parseFloat(flat.size))) {
				if (flat.costs <=session.user.max_costs && (flat.size >=session.user.min_size && flat.size <=session.user.max_size)) {
					outFlats.push(flat);
					count++;
				}
			}

			else if ( !isNaN(parseFloat(flat.costs))) {
				if (flat.costs <=session.user.max_costs) {
					outFlats.push(flat);
					count++;
				}
			}

			else if ( !isNaN(parseFloat(flat.size))) {
				if (flat.size >=session.user.min_size && flat.size <=session.user.max_size) {
					outFlats.push(flat);
					count++;
				}
			}

			else {
				outFlats.push(flat);
				count++;
			}
		}
	}

	);

	if (count==1) {
		flatCountString="new Flat";
	}

	else {
		flatCountString="new Flats";
	}
%>

	<div id="description">
		<h2 class="flatcount">We found <%- count+" "+flatCountString%> for your Account:</h2>
	</div>

	<div id='flats'>
		<div class="top-content">
			<div class="inner-bg">
				<div class="container">

<%
	outFlats.forEach(function(flat) {

		let title='';
		if (flat.title) {
			title=`
				<h4 style="margin: 0px;">
					${flat.title}
				</h4>
			`;
		}

		let info='';
		if (flat.info) {
			info=`
				<h3>Info</h3>
				<div class="info">
					${flat.info}
				</div>
			`;
		}

		let images='';
		if (flat.images) {
			images=`
				<h3>Bilder</h3>
				<div class="thumbs info">
			`;
			
			for (let i=0; i < flat.images.length; i++) {
				images +=`
					<a href="${flat.images[i].src}" target="_blank" rel="noopener" name="${flat.website}">
						<img width="200" height="125" style="margin: 0px 5px 5px 0px;" src="${flat.images[i].src}"/>
					</a>
				`;
			}

			images +=`
				</div>
			`;
		}

		let docs='';
		if (flat.docs) {
			docs=`
				<h3>Dokumente</h3>
				<ul class="list">
			`;

			for (let i=0; i < flat.docs.length; i++) {
				if (i==flat.docs.length - 1) {
					docs +=`
						<li>
							<a href="${flat.docs[i].href}">
								${flat.docs[i].text}
							</a>
						</li>
					</ul>
					`;
				}
				else {
					docs +=`
						<li>
							<a href="${flat.docs[i].href}">
								${flat.docs[i].text}
							</a>
						</li>
					`;
				}
			}
		}

		let details='';
		if (flat.status !==null || flat.legalform !==null || flat.costs !==null || flat.deposit !==null || flat.funds !==null || flat.size !==null || flat.rooms !==null) {
			details +=`
				<h3>Details</h3>
				<table class="info">
			`;

			if (flat.status !==null) {
				details +=`
					<tr>
						<td>Status:</td> <td>${flat.status}</td>
					</tr>
				`;
			}

			if (flat.legalform !==null) {
				details +=`
					<tr>
						<td>Art:</td> <td>${flat.legalform}</td>
					</tr>
				`;
			}

			if (flat.costs !==null) {
				details +=`
					<tr>
						<td>Kosten:</td> <td>€ ${flat.costs}</td>
					</tr>
				`;
			}

			if (flat.deposit !==null) {
				details +=`
					<tr>
						<td>Kaution:</td> <td>${flat.deposit}</td>
					</tr>
				`;
			}

			if (flat.funds !==null) {
				details +=`
					<tr>
						<td>Eigenmittel:</td> <td>${flat.funds}</td>
					</tr>
				`;
			}

			if (flat.size !==null) {
				details +=`
					<tr>
						<td>Größe:</td> <td>${flat.size}m&sup2;</td>
					</tr>
				`;
			}

			if (flat.rooms !==null) {
				details +=`
					<tr>
						<td>Raumanzahl:</td> <td>${flat.rooms}</td>
					</tr>
				`;
			}

			details +=`
				</table>
			`;
		}

		let html=`
			<div class="row">
				<div style="background-color:#999; color:#333; box-shadow: 5px 5px 5px #aaa; width: 100%; margin-bottom: 30px;">
					<a href="${flat.link}">
						<div class="flatheading"style="background: #999; color: white;"> ${title} </div>
					</a>
					<a href="${flat.link}">
						<div class="flatheading"style="background-color:#ddd;">
						<h2 style="margin: 0px;">${flat.address}, ${flat.district} ${flat.city}</h2>
						</div>
					</a>
					<div style="padding: 5px 20px 10px 40px; background-color:#eee;"> ${details + docs + info + images}
					</div>
					<div style="padding: 10px; background: #eee; color: #333; text-align:right;">
						<h4 style="margin: 0px; padding: 0px;">${flat.website}
						</h4>
					</div>
					<a href="https://www.google.com/maps/search/${flat.address}+${flat.district}+${flat.city}"target="_blank">
						<div style="padding: 12.5px 11px; background: #ddd; color: white; text-align:center;">
							<img src="https://img.icons8.com/metro/50/ffffff/marker.png"alt="marker"width="25"height="25">
						</div>
					</a>
				</div>
			</div>
		`;

%>

					<%- html %>

<%
		});
%>

				</div>
			</div>
		</div>
	</div>

<%
}
%>