        <footer>
            <% if (session == undefined) { %>
                <a href="/impressum/">Impressum</a>

            <% } else if (session.user == undefined) { %>
                <a href="/impressum/">im</a>

            <% } else { %>
                <a href="/delete/">delete account?</a>
                <a href="/impressum/">Impressum</a>
            <% } %>
        </footer>



        <!-- Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>

        </body>

        </html>