<div id="plzContainer">
	<div>
		<input type="text" ng-model="user.plz_interests[0]" name="user.plz_interests_0"
			class="form-control  form-username" required />
	</div>
</div>
<button id="add_Field">Add New</button>


<script type="text/javascript">
	var count = 1;
	var add_Field_Button = document.getElementById('add_Field');
	add_Field_Button.addEventListener('click', add_Field)

	function add_Field() {
		var div1 = document.createElement('div');
		// Get template data
		div1.innerHTML = "<input type='text' ng-model='user.plz_interests[" + count + "]' name='user.plz_interests_" +
			count + "' class='form-control  form-username' required />"
		// append to our form, so that template data
		//become part of form
		document.getElementById('plzContainer').appendChild(div1);
		count++;
	}
</script>