<main>
  <container>

    <div class="row" id="greeting">
      <p>Hi, <%= session.user.name %>! You are logged in. - <a href="/logout/">logout?</a></p>
    </div>

    <%- include('includes/update_user_form'); -%>

    <%- include('includes/flats'); -%>

  </container>
</main>