li {
	border-radius: 5px;
	padding: 0 0 0 5px;
	margin: 5px;
	background: #333;
	box-shadow: 2px 2px 2px #999;
	color: white;
}

li span {
	background: #ddd;
	margin-left: 6px;
	padding: 5px 6px 6px 6px;
	color: #333;
	border-radius: 0 5px 5px 0;
}

li span:hover {
	cursor: pointer;;
	color: red;
}